@model LCCS_School_Parent_Communication_System.viewModels.ProfileEditPassword

<html>
<head>
</head>
<body>


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="EditPassword">
                    <div class="form-group">
                        @Html.LabelFor(l => l.oldPassword)
                        @Html.EditorFor(e => e.oldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.oldPassword)
                        <br />

                        @Html.LabelFor(l => l.newPassword)
                        @Html.EditorFor(e => e.newPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.newPassword)
                        <br />
                        @Html.LabelFor(l => l.confirmPassword)
                        @Html.EditorFor(e => e.confirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.confirmPassword)
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Change</button>
            </div>
        </div>
    </div>


</body>
</html>

