@model LCCS_School_Parent_Communication_System.viewModels.ProfileEditUserName

<html>
<head>
</head>
<body>


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <h4 class="modal-title text-white" id="title">Change UserName</h4>
                <button type="button" id="exit" class="close btn bg-red" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (ViewBag.complete != null)
                {
                    <div class="alert alert-success" id="hide">
                        @ViewBag.complete
                    </div>
                }
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger" id="hide">
                        @ViewBag.error
                    </div>
                }

                <div class="d-flex justify-content-center ">
                    <div id="holder" class="d-none text-danger" role="status">

                    </div>
                </div>

                <form action="EditUserName" id="error" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(l => l.userName, new { @class = "form-label mt-2" })
                        <div class="container row">@Html.EditorFor(e => e.userName, new {  htmlAttributes = new { @class = "px-1 custom" } })</div>
                        <div class="container row">@Html.ValidationMessageFor(v => v.userName, null, new { @class = "text-danger" })</div>

                        @*@Html.LabelFor(l => l.userName)
            @Html.EditorFor(e => e.userName, new { @class = "form-control" })
            @Html.ValidationMessageFor(v => v.userName)*@
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="save" data-save="modal">Change</button>
            </div>
        </div>
    </div>


</body>
</html>

<style>
    .row, .row > * {
        padding: 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        const element = document.getElementById("holder");
        const hidden = document.getElementById('hide');
        const save = document.getElementById('save');
        const exit = document.getElementById('exit');
        view.on('click', '[data-save="modal"]', function (event) {

            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                if (element != null) {
                    element.classList.remove("d-none");
                    element.classList.add("spinner-border");
                    save.classList.add("disabled");
                    exit.classList.add("disabled");
                }
                if (hidden != null) {
                    hidden.classList.add("d-none");
                }
            }
        });

        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>