@model LCCS_School_Parent_Communication_System.viewModels.ProfileEditPassword

<html>
<head>
</head>
<body>


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <h4 class="modal-title" id="title">Change Password</h4>
                <button type="button" class="close btn bg-red" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (ViewBag.complete != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.complete
                    </div>
                }
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger">
                       @Html.ValidationMessage("changepass");
                    </div>
                }

                <form action="EditPassword" id="error" autocomplete="off">
                    <div class="form-group">

                        @Html.LabelFor(l => l.oldPassword, new { @class = "form-label mt-2" })
                        <div class="container row">@Html.EditorFor(e => e.oldPassword, new { @class = "form-control" })</div>
                        <div class="container row">@Html.ValidationMessageFor(v => v.oldPassword, null, new { @class = "text-danger" })</div>


                        @Html.LabelFor(l => l.newPassword, new { @class = "form-label mt-2" })
                        <div class="container row">@Html.EditorFor(e => e.newPassword, new { @class = "form-control" })</div>
                        <div class="container row">@Html.ValidationMessageFor(v => v.newPassword, null, new { @class = "text-danger" })</div>

                        @Html.LabelFor(l => l.confirmPassword, new { @class = "form-label mt-2" })
                        <div class="container row">@Html.EditorFor(e => e.confirmPassword, new { @class = "form-control" })</div>
                        <div class="container row">@Html.ValidationMessageFor(v => v.confirmPassword, null, new { @class = "text-danger" })</div>



                        @*@Html.LabelFor(l => l.oldPassword)
                        @Html.EditorFor(e => e.oldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.oldPassword)
                        <br />

                        @Html.LabelFor(l => l.newPassword)
                        @Html.EditorFor(e => e.newPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.newPassword)
                        <br />
                        @Html.LabelFor(l => l.confirmPassword)
                        @Html.EditorFor(e => e.confirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(v => v.confirmPassword)*@
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Change</button>
            </div>
        </div>
    </div>


</body>
</html>

<style>
    .row, .row > * {
        padding: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>
