@model LCCS_School_Parent_Communication_System.viewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

@*@if (User.Identity.IsAuthenticated == false)
    {*@
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{

    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto  pb-5">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1">
                        <div class="row"> <img src="https://www.lidetacathedral.com/sites/default/files/logo.png" class="logo"> </div>
                        <div class="row px-4 justify-content-center mt-4 mb-5 border-line">
                            <img src="https://media.istockphoto.com/vectors/school-headmaster-meeting-with-student-parent-vector-id1253923175?k=20&m=1253923175&s=612x612&w=0&h=Ql7DDGEf1mIlgqCEbzzoGFn26Dg3qKTD7usd7aWdCWY=
                            " class="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-5" id="abc">
                    <div class="card2 card border-0 px-4 py-5 mt-5">


                        <div class="row px-3 ">
                            <label class="mb-1">
                                <h6> @Html.LabelFor(a => a.username, new { htmlAttributes = new { @class = "mb-0 text-sm" } })</h6>
                            </label>
                            @Html.TextBoxFor(a => a.username, new { @class = "mb-4", @required = "required", @placeholder = "Enter a valid username" })

                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6> @Html.LabelFor(a => a.password, new { htmlAttributes = new { @class = "mb-0 text-sm" } })</h6>


                            </label>  @Html.PasswordFor(a => a.password)


                        </div>
                        <div class="row px-3 mb-4">
                        </div> <label class="ml-auto mb-0 text-sm" data-toggle="modal" data-target="#editFullName" data-url="@Url.Action("ForgotPassword")">Forgot Password?</label>
                    </div>
                    <div class="row mb-3 px-xl-2 ">  <input type="submit" value="Log in" id="submit" class="btn btn-primary px-1 w-25 ml-4" /> </div>

                    @Html.ValidationSummary():

                </div>
            </div>
        </div>
        <div class="bg-blue py-4 d-flex " d-fle>
            <div class="row px-3 ">
                <small class="ml-4 ml-sm-5 mb-2"></small>

            </div>
        </div>
    </div>

    <div class="modal" id="myModal" role="dialog" data-url="@Url.Action("edit")"></div>

    @*}*@
}


<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        $('[data-toggle="modal"]').click(function () {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal('show');
            });
        });

        view.on('click', '[data-save="modal"]', function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                $.post(actionUrl, sendData).done(function (data) {
                    //view.modal('hide');
                    view.html(data);
                    view.modal('show');
                });
            }

        });

        view.on('click', '[data-dismiss="modal"]', function (event) {
            view.modal('hide');
        });

        view.on('hide.bs.modal', function () {
            location.reload();
        });
        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>



<style>
    .logo{
        width:200px;
        margin-top:20px;
    }

</style>