@model LCCS_School_Parent_Communication_System.viewModels.ProfileViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>

    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@

     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>



</head>
<body>

    <script type="text/javascript">

        function back() {
            history.back();
        }
    </script>

    <div class="bg-secondary text-end">
        <button class="btn text-white p-4" onclick="back()"><i class="fas fa-home fa-2x"></i></button>
    </div>

    <div class="container">
        <div class="container text-center">
            <div><i class="fas fa-user-circle mt-5 fa-10x text-secondary"></i></div>

            <div class="row mt-4">
                @*@Html.LabelFor(lbl => lbl.fullName)*@
                <h4>Your Profile</h4>
            </div>



            <hr class="col-6 mx-auto" />

        </div>
        
        
        <div class="row mt-5">
            <div class="col-3"></div>
            <h6 class="col-2">@Html.LabelFor(lbl => lbl.fullName, new { @class = "form-label text-secondary" })</h6>
            
            <label class="form-label col-4" data-toggle="modal" data-target="#editFullName" data-url="@Url.Action("EditFullName")" data-id="1">@Model.fullName</label>
        </div>
        
        <div class="row mt-3">
            <div class="col-3"></div>
            <h6 class="col-2">@Html.LabelFor(lbl => lbl.email, new { @class = "form-label text-secondary" })</h6>
            <label class="form-label col-4" data-toggle="modal" data-target="#edit" data-url="@Url.Action("edit")">@Model.email</label>
        </div>
        <div class="row mt-3">
            <div class="col-3"></div>
            <h6 class="col-2">@Html.LabelFor(lbl => lbl.userName, new { @class = "form-label text-secondary" })</h6>
            <label class="form-label col-4" data-toggle="modal" data-target="#editUserName" data-url="@Url.Action("EditUserName")">@Model.userName</label>
        </div>
        <div class="row mt-3">
            <div class="col-3"></div>
            <h6 class="col-2"><lable class="form-label text-secondary">PASSWORD</lable></h6>
            <label class="form-label col-4" data-toggle="modal" data-target="#editPassword" data-url="@Url.Action("EditPassword")">••••••••</label>
        </div>
        <div class="modal" id="myModal" role="dialog" data-url="@Url.Action("edit")"></div>

    </div>
</body>
</html>



    <script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        $('[data-toggle="modal"]').click(function () {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        view.on('click', '[data-save="modal"]', function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                $.post(actionUrl, sendData).done(function (data) {
                    //view.modal('hide');
                    view.html(data);
                    view.modal({ backdrop: 'static', keyboard: false })
                    view.modal('show');
                });
            }

        });

        view.on('click', '[data-dismiss="modal"]', function (event) {
            view.modal('hide');
        });

        view.on('hide.bs.modal', function () {
            location.reload();
        });
        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>



<style>
    input.input-validation-error,
    textarea.input-validation-error,
    select.input-validation-error {
        border: 1px solid #CD0A0A;
    }

    body{
        padding-top:0 !important;
    }
</style>