@model LCCS_School_Parent_Communication_System.Models.Assignment
@{
    ViewBag.Title = "viewAssignmentDetails";
}

<h2>Assignment Details</h2>

<table class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th scope="col">Assignment Type</th>
            <th scope="col">Date Posted</th>
            <th scope="col">Section</th>
            <th scope="col"> Number of Group Members </ th >
            <th scope="col">Submission Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.assignmentType</td>
            <td>@Model.datePosted.ToShortDateString()</td>
            <td>@Model.section.sectionName</td>
            <td>@Model.numberOfMembers</td>
            <td>@Model.submissionDate.ToShortDateString()</td>
        </tr>
    </tbody>
  

</table>
