@model List<LCCS_School_Parent_Communication_System.Models.Assignment>
@{
    ViewBag.Title = "viewAssignment";
    double m;
}


@*
<table class="table table-striped table-bordered">
    <tr>
        <th scope="col">Assignment Type</th>
        <th scope="col">Assignment</th>
    </tr>
    
        @foreach (var k in Model)
        {


<tr>
    <td>@k.assignmentType</td>
    @using (Html.BeginForm("viewAssignmentDetails", "PHome", new { idk = k.assignmentId.ToString() }, FormMethod.Post))
    {
    <td><input type="submit" value=@k.assignmentType /></td>
    }
</tr>
        }
       
</table>*@
<div class="container">
    <div class="row"><div class="col-12 bg-light border-bottom border-top border-4 mb-2"><h2>Assignments</h2></div></div>
    <div class="list-group gy-2">
        @foreach (var k in Model)
        {

            using (Html.BeginForm("viewAssignmentDetails", "PHome", new { idk = k.assignmentId.ToString() }, FormMethod.Post))
            {
                <button class="list-group-item list-group-item-action flex-column align-items-start  mt-2 btn btn-primary">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@k.assignmentName</h5>
                        <small>
                            @k.submissionDate.ToShortDateString()

                        </small>



                    </div>



                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <p class="mb-1">@k.assignmentType</p>
                            <p>@k.teacher.subject</p>
                        </div>

                        <h2>@k.markPercentage Marks</h2>
                    </div>
                </button>
            }

        }
    </div>
</div>