@model LCCS_School_Parent_Communication_System.Models.Assignment
@{
    ViewBag.Title = "viewAssignmentDetails";
}

<style>
    .title-button {
        border-top: 4px solid #00008b;
        border-radius: 5px 5px 0px 0px;
    }
</style>


<div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
    <div class="row title-button">
        <span class="p-2 title col-md-10">Details</span>
    </div>
    
    <div class="row p-4">
        <div class="col-md-4">
            <div class="row">
                <table class="table">
                    <tr class="rowx row">
                        <td><h3>Subject</h3></td>
                        <td>@Model.teacher.subject</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Assignment Type</h3></td>
                        <td>@Model.assignmentType</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Date Posted</h3></td>
                        <td>@Model.datePosted.ToShortDateString()</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Section</h3></td>
                        <td>@Model.section.sectionName</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Submission Date</h3></td>
                        <td>@Model.submissionDate.ToShortDateString()</td>
                    </tr>


                </table>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-md-7 ml-md-3">
            @{
                var base1 = Convert.ToBase64String(Model.assignmentDocument);
                var src = string.Format("data:application/pdf;base64,{0}", base1);
                <iframe src="@src" class="w-100 h-100"></iframe>
            }
        </div>
    </div>
</div>