@model LCCS_School_Parent_Communication_System.Models.Announcement
@{
    ViewBag.Title = "viewAnnouncementDetails";
}


<style>
    .rowx {
        padding-bottom: 12%
    }
</style>



<div class="container">
    <div class="row"><div class="col-12 bg-light border-bottom border-top border-4 mb-2"><h2>Announcement Details</h2></div></div>
    <div class="row gx-4">
        <div class="col-md-4">
            <div class="row">
                <table class="table">
                    <tr class="rowx row">
                        <td><h3>Title</h3></td>
                        <td>@Model.announcementTitle</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Announcement Type</h3></td>
                        <td>@Model.announcementType</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Date Posted</h3></td>
                        <td>@Model.postDate.ToShortDateString()</td>
                    </tr>
                    <tr class="rowx row">
                        <td><h3>Content</h3></td>
                        <td>@Model.announcementContent</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-8 ml-md-3">
            @{
                var base1 = Convert.ToBase64String(Model.announcementDocument);
                var src = string.Format("data:application/pdf;base64,{0}", base1);
                <iframe src="@src" class="w-100 h-100"></iframe>
            }
        </div>
    </div>
</div>
