<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
        <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
        <script src="~/Scripts/jquery-2.0.0.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/Areas/Parent/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />*@


    <link href="~/Areas/Parent/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css" integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Parent/css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <style>
        input.input-validation-error,
        textarea.input-validation-error,
        select.input-validation-error {
            border: 1px solid #CD0A0A;
        }
    </style>

    <!-- CSS Includes -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    @*<style type="text/css">

          .fc-day-top {
                border-color: solid red 3px;
                background-color:red;
            }

           .fc-today {
                background: red !important;
                color: white;
            }

           .side{
               display:inline-block
           }


        #jj:hover {
            background-color: lightgray;
        }

        #jj:active {
            color: black;
        }
        #jj{

        }

        .ak {
            max-height: 280px;
            overflow-y: scroll;
            overflow-x: hidden;
            overflow-wrap: break-word;
        }


        .dropdownMenuButton {
            margin-left: -7em;
        }
        #side2 {
            font-family: 'Open Sans', sans-serif
        }
        #side3{
            padding-left:10em;
        }
        .updated{
           padding-left:23em;
           color:orange;

        }
        #kali {
            color: orange;
            font-style: italic;
        }

        #cir {
            height: 25px;
            width: 25px;
            background-color: red;
            border-radius: 100px;
        }
        #greame{
            margin-left:-1.5em;
        }
        #smallerDrop {
          width:400px;
        }
        @@media screen and (max-width: 290px) {
            #smallerDrop {
                width: 195px;
            }
        }
        @@media screen and (max-width: 360px) and (min-width: 290px) {
            #smallerDrop {
                width: 270px;
            }
        }
        @@media screen and (max-width: 415px) and (min-width: 370px) {
            #smallerDrop {
                width: 280px;
            }
        }
        @@media screen and (max-width: 500px) and (min-width: 420px) {
            #smallerDrop {
                width: 350px;
            }
        }
      

    </style>

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-red bg-red">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">
            <img src="~/image/PSX_20220303_121338.jpg" width="110px" height="50px" />
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-sm order-1 order-lg-0 me-4 me-lg-0 text-white" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
        <!-- Navbar-->


        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 gx-4">


            <li class="nav-item dropdown pe-4">
                <a id="navbarDropdown1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa fa-bell" style="color:white"></i><span class="badge" id="arxr"></span></a>
                <ul class="dropdown-menu dropdown-menu-end ak" id="smallerDrop" aria-labelledby="navbarDropdown1" >
                    @{
                        LCCS_School_Parent_Communication_System.Identity.ApplicationDbContext db = new LCCS_School_Parent_Communication_System.Identity.ApplicationDbContext();
                        List<LCCS_School_Parent_Communication_System.Models.Announcement> gx = new List<LCCS_School_Parent_Communication_System.Models.Announcement>();
                        LCCS_School_Parent_Communication_System.Models.Parent pa = new LCCS_School_Parent_Communication_System.Models.Parent();
                        LCCS_School_Parent_Communication_System.Models.Student s = new LCCS_School_Parent_Communication_System.Models.Student();
                        LCCS_School_Parent_Communication_System.Models.Section sec = new LCCS_School_Parent_Communication_System.Models.Section();
                        List<LCCS_School_Parent_Communication_System.Models.gradeAnnouncement> gra = new List<LCCS_School_Parent_Communication_System.Models.gradeAnnouncement>();
                        List<LCCS_School_Parent_Communication_System.Models.sectionAnnouncement> sa = new List<LCCS_School_Parent_Communication_System.Models.sectionAnnouncement>();
                        List<LCCS_School_Parent_Communication_System.Models.studentAnnouncement> stdA = new List<LCCS_School_Parent_Communication_System.Models.studentAnnouncement>();
                        string parentName = User.Identity.Name;
                        LCCS_School_Parent_Communication_System.Additional_Class.HomeroomTeacherMethod ht = new LCCS_School_Parent_Communication_System.Additional_Class.HomeroomTeacherMethod();
                        pa = db.Parent.Where(ax => ax.user.UserName == parentName).FirstOrDefault();
                        s = db.Student.Where(ax => ax.studentId == pa.studentId).FirstOrDefault();
                        sec = db.Section.Where(ax => ax.sectionName == s.sectionName && ax.academicYearId == s.academicYearId).FirstOrDefault();
                        string stdGrade = sec.sectionName.Substring(0, sec.sectionName.Length - 1);
                        int stdGrade1 = int.Parse(sec.sectionName.Substring(0, sec.sectionName.Length - 1));
                        var gra1 = db.gradeAnnouncements.Where(ax => ax.grade == stdGrade1).ToList();
                        if (gra1 != null)
                        {
                            foreach (var isg in gra1)
                            {
                                var gra2 = db.Announcement.Where(ax => ax.announcementID == isg.announcementId).FirstOrDefault();
                                if (DateTime.Compare(DateTime.Now.Date, gra2.endDate.Date) <= 0)
                                {
                                    gx.Add(gra2);
                                }
                            }
                        }
                        var secLS = db.sectionAnnouncement.Where(ax => ax.sectionId == sec.sectionId).ToList();
                        if (secLS != null)
                        {
                            foreach (var k in secLS)
                            {
                                var secLS2 = db.Announcement.Where(ax => ax.announcementID == k.announcementId).FirstOrDefault();
                                if (DateTime.Compare(DateTime.Now.Date, secLS2.endDate.Date) <= 0)
                                {
                                    gx.Add(secLS2);
                                }
                            }
                        }
                        var stdLS = db.studentAnnouncement.Where(ax => ax.studentId == s.studentId).ToList();
                        if (stdLS != null)
                        {
                            foreach (var k in stdLS)
                            {
                                var stdLS2 = db.Announcement.Where(ax => ax.announcementID == k.announcementId).FirstOrDefault();
                                if (DateTime.Compare(DateTime.Now.Date, stdLS2.endDate.Date) <= 0)
                                {
                                    gx.Add(stdLS2);
                                }
                            }
                        }
                        var gAll = db.Announcement.Where(ax => ax.announcementType == "all").ToList();
                        if (gAll != null)
                        {
                            foreach (var k in gAll)
                            {

                                if (DateTime.Compare(DateTime.Now.Date, k.endDate.Date) <= 0)
                                {
                                    gx.Add(k);
                                }
                            }
                        }
                        var ikea = gx.Where(ax => ax.viewedStatus == 0).ToList();
                        if (gx.Count() == 0)
                        {
                            <li>


                                <button class="dropdown-item container-fluid" id="jj" disabled>
                                    <div class="">

                                        <div class="row">
                                            <h3>No Announcements Yet</h3>



                                        </div>
                                    </div>
                                </button>
                            </li>
                        }
                        else if (gx != null)
                        {
                            int x = 1;
                            <li>
                                <script>
                                    $(document).ready(function () {
                                        if (@ikea.Count() > 0) {
                                            $("#arxr").text(@ikea.Count());
                                        }
                            });
                                </script>
                            </li>
                                        int i = 1;
                                        foreach (var k in gx)
                                        {

                                            if (x < gx.Count())
                                            {
                                                using (Html.BeginForm("viewAnnouncementDetails", "PHome", new
                                                {
                                                    annId = k.announcementID
                                                }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()


                                        if (k.updateStatus == 0)
                                        {

                                            <li>


                                                <button class="dropdown-item container-fluid" id="jj">
                                                    <div class="" >

                                                        <div class="row" id="@i">
                                                            <div class="col-1">
                                                                <h1></h1>
                                                            </div>
                                                            <div class="col-9" id="greame">
                                                                <div class="row"><h4>@k.announcementTitle</h4></div>
                                                                <div class="row">
                                                                    <div class="col-8 mt-3 ">
                                                                        @k.postDate.ToShortDateString()
                                                                    </div>
                                                                    <div class="col-4 mt-3" id="kali" style="display:none">
                                                                        Updated
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <script>

                                                            $(document).ready(function () {
                                                                $("#navbarDropdown1").click(function () {
                                        if (@k.viewedStatus == 0) {
                                                                    $('#@i').addClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                        else {
                                                                    $('#@i').removeClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                    });

                                });

                                                            </script>

                                                        </div>
                                                    </div>
                                                </button>
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                        }
                                        else
                                        {
                                            <li>

                                                <button class="dropdown-item container-fluid" id="jj">
                                                    <div class="">
                                                        <div class="row" id="@i">
                                                            <div class="col-1  mt-3 ">
                                                                <h1></h1>
                                                            </div>
                                                            <div class="col-9" id="greame">
                                                                <div class="row"><h4>@k.announcementTitle</h4></div>
                                                                <div class="row">
                                                                    <div class="col-8 mt-3 ">
                                                                        @k.postDate.ToShortDateString()
                                                                    </div>
                                                                    <div class="col-4 mt-3" id="kali">
                                                                        Updated
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <script>

                                                            $(document).ready(function () {
                                                                $("#navbarDropdown1").click(function () {
                                        if (@k.viewedStatus == 0) {
                                                                    $('#@i').addClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                        else {
                                                                    $('#@i').removeClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                    });

                                });

                                                            </script>
                                                        </div>
                                                    </div>
                                                </button>
                                            </li>
                                            <li><hr class="dropdown-divider" /></li>
                                                    }
                                                }
                                            }
                                            else
                        {
                            using (Html.BeginForm("viewAnnouncementDetails", "PHome", new
                            {
                                annId = k.announcementID
                            }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                                    if (k.updateStatus == 0)
                                {
                <li>

                    <button class="dropdown-item container-fluid" id="jj">
                        <div class="">
                            <div class="row" id="@i">
                                <div class="col-1  mt-3 ">
                                    <h1></h1>
                                </div>
                                <div class="col-9" id="greame">
                                    <div class="row"><h4>@k.announcementTitle</h4></div>
                                    <div class="row">
                                        <div class="col-8 mt-3 ">
                                            @k.postDate.ToShortDateString()
                                        </div>
                                        <div class="col-4 mt-3" id="kali" style="display:none">
                                            Updated
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </button>

                    <script>

                                                            $(document).ready(function () {
                                                                $("#navbarDropdown1").click(function () {
                                        if (@k.viewedStatus == 0) {
                                                                    $('#@i').addClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                        else {
                                                                    $('#@i').removeClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                    });

                                });

                    </script>
                </li>


                                        }
                                        else
                                        {
                                            <li>

                                                <button class="dropdown-item container-fluid" id="jj">
                                                    <div class="">
                                                        <div class="row " id="@i">
                                                            <div class="col-1  mt-3">
                                                                <h1></h1>
                                                            </div>
                                                            <div class="col-9" id="greame">
                                                                <div class="row"><h4>@k.announcementTitle</h4></div>
                                                                <div class="row">
                                                                    <div class="col-8 mt-3 ">
                                                                        @k.postDate.ToShortDateString()
                                                                    </div>
                                                                    <div class="col-4 mt-3" id="kali">
                                                                        Updated
                                                                    </div>
                                                                </div>
                                                            </div>





                                                            <script>

                                                            $(document).ready(function () {
                                                                $("#navbarDropdown1").click(function () {
                                        if (@k.viewedStatus == 0) {
                                                                    $('#@i').addClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                        else {
                                                                    $('#@i').removeClass('border border-danger border-5 border-end-0 border-bottom-0 border-top-0');
                                        }
                                    });

                                });

                                                            </script>


                                                        </div>
                                                    </div>
                                                </button>
                                            </li>

                                        }
                                    }
                                }
                                x++;
                                i++;
                            }
                        }




                    }


                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="p-2 shadow rounded-pill" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw bg-custom"></i><span class="p-1 small">@User.Identity.Name</span></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="~/Account/Login">Logout</a></li>
                </ul>
            </li>
        </ul>

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-red" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <h5 id="role" class="p-3">Parent</h5>
                        <a class="nav-link" href="@Url.Action("viewAttendance", "PHome")">
                            <div class="sb-nav-link-icon col-1">
                                <i class="fas fa-calendar fa-lg px-2"></i>
                            </div>
                            <div class="px-3">
                                Calendar
                            </div>
                        </a>
                        <a class="nav-link" href="@Url.Action("EvidenceManagement", "PHome")">
                            <div class="sb-nav-link-icon col-1">
                                <i class="fas fa-file-upload fa-lg px-2"></i>
                            </div>
                            <div class="px-3">
                                Evidence
                            </div>
                        </a>
                        <a class="nav-link" href="@Url.Action("WarningList", "PHome")">
                            <div class="sb-nav-link-icon col-1">
                                <i class="fas fa-exclamation-triangle fa-lg px-2"></i>
                            </div>
                            <div class="px-3">
                                Warning
                                @{
                                    LCCS_School_Parent_Communication_System.Identity.ApplicationDbContext context = new LCCS_School_Parent_Communication_System.Identity.ApplicationDbContext();
                                    var user = context.Users.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();

                                    var parent = context.Parent.Where(p => p.parentId == user.Id).FirstOrDefault();

                                    var warnings = context.Warning.Where(w => w.studentId == parent.studentId && w.WarningReadStatus == "No").ToList();
                                    if (warnings.Count != 0)
                                    {
                                        <span class="position-absolute end-0 translate-middle badge rounded-pill bg-danger">@warnings.Count</span>
                                    }
                                }
                            </div>
                        </a>
                        <a class="nav-link" href="@Url.Action("viewAssignment","PHome")">
                            <div class="sb-nav-link-icon col-1">
                                <i class="fas fa-tasks fa-lg px-2"></i>
                            </div>
                            <div class="px-3">
                                Assignment
                            </div>
                        </a>

                        <a class="nav-link" href="@Url.Action("ViewResult","PHome")">
                            <div class="sb-nav-link-icon col-1">
                                <i class="fas fa-star fa-lg px-2"></i>
                            </div>
                            <div class="px-3">
                                Result
                            </div>
                        </a>

                        <a class="nav-link" href="@Url.Action("GenerateGeneralReport","PHome")">
                            <div class="sb-nav-link-icon col-1">
                                <i class="fas fa-table fa-lg px-2"></i>
                            </div>
                            <div class="px-3">
                                Report
                            </div>
                        </a>

                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="customise p-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>

    <script src="~/Areas/Parent/js/scripts.js"></script>

    <script>
        $(function () {
            "use strict";
            var url = window.location + "";
            var path = url.replace(window.location.protocol + "//" + window.location.host + "/", "");
            var element = $('.nav a').filter(function () {
                return this.href === url || this.href === path;// || url.href.indexOf(this.href) === 0;
            });
            element.parentsUntil(".sb-sidenav-menu").each(function (index) {
                if ($(this).is("a")) {
                    $(this).addClass("active-nav");
                    $(this).parent(".nav").length === 0
                        ? $(this).addClass("active-nav")
                        : $(this).addClass("selected");
                }
                else if ($(this).children("a").length === 0) {
                    $(this).addClass("selected");

                }
                else {
                    $(this).addClass('in');
                }

            });

            element.addClass("active-nav");
            $('.nav a').on('click', function (e) {

                if (!$(this).hasClass("active-nav")) {
                    // hide any open menus and remove all other classes
                    $(".nav", $(this).parents(".nav:first")).removeClass("in");
                    $("a", $(this).parents(".nav:first")).removeClass("active-nav");

                    // open our new menu and add the open class
                    $(this).next(".nav").addClass("in");
                    $(this).addClass("active-nav");

                }
                else if ($(this).hasClass("active-nav")) {
                    $(this).removeClass("active-nav");
                    $(this).parents(".nav:first").removeClass("active-nav");
                    $(this).next(".nav").removeClass("in");
                }
            })
            $('.nav >a.has-arrow').on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
    <style>
        .active-nav {
            color: #00008b !important;
            border-left: 5px solid #00008b;
            background-color: #f7f7ff;
            font-weight: bold;
        }

            .active-nav .sb-nav-link-icon {
                color: #00008b !important;
                background-color: #f7f7ff; /*#d01c37*/
                font-weight: bold;
            }

        .fas .fa-solid {
            font-weight: 900;
        }

        .customise {
            background-color: #f7f7ff;
        }

        #layoutSidenav_content {
            background-color: #f7f7ff; /*#fcf3f3*//*#f2f2fe*/
        }

        #navbarDropdown {
            text-decoration: none !important;
            background-color: #00009a; /*#01019e*/ /*#883ed4*/#00009a
        }
    </style>

</body>
</html>

