@model LCCS_School_Parent_Communication_System.viewModels.parentViewModel
@{
    ViewBag.Title = "parentManagement";
}

<h2>parentManagement</h2>
@using (Html.BeginForm("parentManagement", "RHome", FormMethod.Post))
{
    @Html.HiddenFor(a => a.studentId);
    @Html.TextBoxFor(a => a.studentId, new { htmlAttributes = new { @readonly = true } });

    @Html.LabelFor(a => a.studentFullName);
    @Html.TextBoxFor(a => a.studentFullName);
    @Html.ValidationMessageFor(a => a.studentFullName);

    @Html.LabelFor(a => a.fullName);
    @Html.TextBoxFor(a => a.fullName);
    @Html.ValidationMessageFor(a => a.fullName);

    @Html.LabelFor(a => a.email);
    @Html.TextBoxFor(a => a.email);
    @Html.ValidationMessageFor(a => a.email);

    @Html.LabelFor(a => a.phoneNumber);
    @Html.EditorFor(a => a.phoneNumber);
    @Html.ValidationMessageFor(a => a.phoneNumber);

    <input type="submit" name="search" value="Search" />

    <input type="submit" name="add" value="Add" />
    @Html.ValidationSummary(true, "please fix the errors to procced to the next step")
}
<div class="alert alert-danger" role="alert">
    @ViewBag.Message
</div>
<div class="alert alert-danger" role="alert">
    @ViewBag.existenceMessage
</div>

@if (@ViewBag.startStudent == true)
{
    <h1>Student List</h1>

    <table>
        <tr>
            <th>Full Name</th>
            <th>Section</th>

        </tr>
        @foreach (var k in Model.studentList)
        {
            <tr>
                <td>@k.fullName</td>
                <td>@k.sectionName</td>
                <td>
                    @using (Html.BeginForm("parentManagement", "RHome", new { id = k.studentId.ToString() }, FormMethod.Post))
                    {
                        <input type="submit" name="select" value="Select" />
                    }
                </td>
            </tr>
        }

    </table>
}
@if (@ViewBag.startParent == true)
{
    <h1>Parent List</h1>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Student Name</th>
            <th>Email</th>
        </tr>

        @foreach (var k in Model.parentList)
        {
            <tr>
                <td>@k.user.fullName</td>
                <td>@k.student.fullName</td>
                <td>@k.user.Email</td>
                <td>@k.user.PhoneNumber</td>
                <td>
                    @using (Html.BeginForm("parentManagement", "RHome", new { pid = k.parentId }, FormMethod.Post))
                    {
                        <input type="submit" name="delete" value="Delete" />
                    }
                </td>
            </tr>
        }
    </table>

}
