@model LCCS_School_Parent_Communication_System.viewModels.StudentViewModel
@{

}



<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        $('[data-toggle="modal"]').click(function () {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        $('[data-toggle="modalsession"]').click(function () {
            var url = $(this).data('url')+'?id='+$(this).data('id');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        view.on('click', '[data-save="modal"]', function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                $.post(actionUrl, sendData).done(function (data) {
                    //view.modal('hide');
                    view.html(data);
                    view.modal({ backdrop: 'static', keyboard: false })
                    view.modal('show');
                });
            }

        });

        view.on('click', '[data-dismiss="modal"]', function (event) {
            view.modal('hide');
        });

        view.on('hide.bs.modal', function () {
            location.reload();
        });
        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({"scrollX": true});
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    });
</script>

<div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
    <div class="row title-button">
        <span class="p-3 title col-md-10">Students</span>
        <button type="button" class="btn btn-primary align-content-end register pe-4 my-4 mx-2 w-auto" data-toggle="modal" data-target="#addSectionModal" data-url="@Url.Action("RegisterStudent")"><i class="fas fa-plus fa-sm text-start px-2"></i>Register</button>
    </div>
    <div class="container mb-3 mt-3">
        <table class="table table-striped table-bordered" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">Academic Year</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var list in Model.student)
                {
                    <tr>
                        <td>@list.fullName</td>
                        <td>@list.sectionName</td>
                        <td>@list.academicYearId</td>
                        <td class="text-center">

                            <button type="button" class="btn btn-edit rounded-circle border-1 border-dark" data-toggle="modalsession" data-target="#updateSectionModal" data-url="@Url.Action("EditStudent")" data-id="@list.studentId"><i class="fas fa-edit fa-lg"></i></button>
                            <button type="button" class="btn btn-delete rounded-circle border-1 border-danger" data-toggle="modalsession" data-target="#deleteSectionModal" data-url="@Url.Action("DeleteStudent")" data-id="@list.studentId"><i class="fas fa-trash-alt fa-lg text-danger"></i></button>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>

            </tfoot>

        </table>
    </div>
</div>

<div class="modal" id="myModal" role="dialog" data-backdrop="static" tabindex="-1" data-url="@Url.Action("Register")"></div>

<style>
    .row {
        padding: 0 !important;
    }
</style>
