@model LCCS_School_Parent_Communication_System.viewModels.StudentViewModel
@{

}

<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        $('[data-toggle="modal"]').click(function () {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal('show');
            });
        });

        $('[data-toggle="modalsession"]').click(function () {
            var url = $(this).data('url')+'?id='+$(this).data('id');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal('show');
            });
        });

        view.on('click', '[data-save="modal"]', function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var sendData = form.serialize();
            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                $.post(actionUrl, sendData).done(function (data) {
                    //view.modal('hide');
                    view.html(data);
                    view.modal('show');
                });
            }

        });

        view.on('click', '[data-dismiss="modal"]', function (event) {
            view.modal('hide');
        });

        view.on('hide.bs.modal', function () {
            location.reload();
        });
        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>

<div class="container">
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Section</th>
                <th scope="col">Academic Year</th>
                <th scope="col" class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSectionModal" data-url="@Url.Action("RegisterStudent")"><i class="fas fa-plus fa-lg"></i></button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.student)
            {
                <tr>
                    <td>@list.fullName</td>
                    <td>@list.sectionName</td>
                    <td>@list.academicYearId</td>
                    <td class="text-center">

                        <button type="button" class="btn btn-info" data-toggle="modalsession" data-target="#updateSectionModal" data-url="@Url.Action("EditStudent")" data-id="@list.studentId"><i class="fas fa-edit fa-lg text-white"></i></button>
                        <button type="button" class="btn btn-danger" data-toggle="modalsession" data-target="#deleteSectionModal" data-url="@Url.Action("DeleteStudent")" data-id="@list.studentId"><i class="fas fa-trash-alt fa-lg"></i></button>

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>

    </table>
</div>

<div class="modal" id="myModal" role="dialog" data-backdrop="static" tabindex="-1" data-url="@Url.Action("Register")"></div>

<style>
    .row {
        padding: 0 !important;
    }
</style>






@*@using (Html.BeginForm("StudentManagement", "RHome", FormMethod.Post))
    {

        @Html.HiddenFor(tb => tb.Id)
    <div class="row">
        <div class="form-group col-xl-6 ">
            @Html.LabelFor(lbl => lbl.fullName)
            @Html.EditorFor(tb => tb.fullName, new { htmlAttributes = new { @class = "form-control" } })

        </div>

        @if (ViewBag.edit)
        {
            <div class="form-group col-xl-6 ">
                @Html.LabelFor(lbl => lbl.sectionName)
                <select id="sectionName" name="sectionName" class="form-control">
                    @foreach (var i in Model.sectionName)
                    {
                        if (i == ViewBag.section)
                        {
                            <option value=@i selected>@i</option>
                        }
                        else
                        {
                            <option value=@i>@i</option>
                        }
                    }
                </select>
            </div>

        }



        else
        {

            <div class="form-group col-xl-6 ">

                @Html.LabelFor(lbl => lbl.sectionName)
                @Html.DropDownListFor(tb => tb.sectionName, new SelectList(Model.sectionName),new { htmlAttributes = new{ @class = "form-control " } })

                </div>

                }
            </div>

    <div class="alert alert-danger" role="alert">
        @ViewBag.found
        @ViewBag.upMessage
        @ViewBag.duplicate
        @Html.ValidationSummary()

       </div>


        <div class="text-center">
            <input type="submit" name="register" value="Register" class="btn btn-primary bg-green" />
            <input type="submit" name="search" value="Search" class="btn btn-primary " />
            <input type="submit" name="update" value="Update" class="btn btn-danger" @ViewBag.update />
        </div>
        }


        @if (ViewBag.search == true)
        {
            <table class="table table-striped">
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Section</th>
                    <th scope="col">Academic Year</th>
                    <th scope="col"></th>
                </tr>
                @foreach (var list in Model.student)
                {
                    <tr>
                        <td>@list.fullName</td>
                        <td>@list.sectionName</td>
                        <td>@list.academicYearId</td>
                        <td>
                            @using (Html.BeginForm("StudentManagement", "RHome", new { id = @list.studentId }, FormMethod.Post))
                            {
                                <input type="submit" value="Edit" name="edit" class="btn btn-primary" />
                                <input type="submit" value="Delete" name="delete" class="btn btn-danger" />
                            }

                        </td>
                    </tr>
                }
            </table>
        }*@
