@model LCCS_School_Parent_Communication_System.viewModels.assignmentViewModel
@{
    ViewBag.Title = "addAssignment";
}


<style>
    .container {
        width: 65%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            minDate: new Date(),


        });
        $('#assignmentType').change(function () {

            $("#assignmentType").change(function () {
                var a = $("#assignmentType Option:Selected").text();
                if (a == "Group") {
                    $("#groupRelated").show();

                }
                else {
                    $("#groupRelated").hide();
                }
            })


        }).change();
    });

</script>

<div class="container">
    @using (Html.BeginForm("addAssignment", "THome", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {<div class="row mt-3">
            <div class="col-lg-4">
                @Html.LabelFor(a => a.assignmentName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.EditorFor(a => a.assignmentName, new { htmlAttributes = new { @class = "form-control" } })</div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.markPercentage)
            </div>
            <div class="col-lg-8 ">
                <div class="row">
                    @Html.EditorFor(a => a.markPercentage, new { htmlAttributes = new { @min = 1, @max = 15, @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.assignmentType)
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <select id="assignmentType" name="assignmentType" readonly class="form-control">
                        @foreach (var i in Model.assignmentType)
                        {
                            if (i == ViewBag.selectedType)
                            {
                                <option value=@i selected>@i</option>
                            }
                            else
                            {
                                <option value=@i>@i</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div id="groupRelated" style="display:none">
            <div class="row mt-3">
                <div class="col-lg-4 ">
                    @Html.LabelFor(a => a.numberOfGroupMembers)
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        @Html.EditorFor(a => a.numberOfGroupMembers, new{htmlAttributes = new{@class = "form-control"}})
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.sectionID)
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <select id="sectionName" name="sectionName" readonly class="form-control">
                        @foreach (var i in Model.sectionList)
                        {
                            if (i == ViewBag.selectedSection)
                            {
                                <option value=@i selected>@i</option>
                            }
                            else
                            {
                                <option value=@i>@i</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.submissionDate)
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.EditorFor(a => a.submissionDate, new { htmlAttributes = new { @class = "datepicker form-control" } })</div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.assignmentDocument)
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12"> <div class="row py-2"><input type="submit" name="add" value="ADD" class="btn btn-primary" /></div></div>
        </div>



    }
    @if (ViewBag.successfulMessage != " " && ViewBag.successfulMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.successfulMessage
        </div>
    }
    @if (ViewBag.failedMessage != " " && ViewBag.failedMessage != null)
    {
        <div class="alert alert-danger">

            @ViewBag.failedMessage
        </div>
    }
    @if (ViewBag.doesntFulfillMessage != " " && ViewBag.doesntFulfillMessage != null)
    {
        <div class="alert alert-danger">

            @ViewBag.doesntFulfillMessage
        </div>
    }
</div>
