@model LCCS_School_Parent_Communication_System.viewModels.addGroupAssignmentViewModel
@{
    ViewBag.Title = "addGroupAssignment";
}


<style>
     .header{
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            minDate: new Date(),


        });

    });

</script>

<div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
    <div class="row bg-red header">
        <span class="p-3 title text-white col-md-10">Group Assignment</span>
    </div>
    @using (Html.BeginForm("addGroupAssignment", "THome", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.groupStructureId)
        <div class="mt-4">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.assignmentName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row"> @Html.EditorFor(a => a.assignmentName, new { htmlAttributes = new { @class = "form-control p-1" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.assignmentName, null, new { @class = "text-danger" })</div>
            </div>
        </div>
        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.markPercentage)
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">
                    @Html.EditorFor(a => a.markPercentage, new { htmlAttributes = new { @min = 1, @max = 100, @class = "form-control p-1" } })
                    <div class="row">@Html.ValidationMessageFor(a => a.markPercentage, null, new { @class = "text-danger" })</div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.groupList)
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">
                    <select id="groupsList1" name="groupsList" class="form-control selectpicker" multiple data-live-search="true" required>
                        @foreach (var i in Model.groupList)
                        {

                            <option value=@i>@i.groupName</option>

                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.submissionDate)
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row"> @Html.EditorFor(a => a.submissionDate, new { htmlAttributes = new { @class = "datepicker form-control p-1" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.submissionDate, null, new { @class = "text-danger" })</div>
            </div>

        </div>
        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.assignmentDocument)
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">
                    <input type="file" name="file" class="form-control p-1" id="theFile" required />
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-2 ps-sm-2 ps-md-5">
            <div class="col-sm-3 col-md-3"> <div class="row py-2"><input type="submit" name="add" value="Add" class="btn btn-outline-primary py-1 w-50" id="sulu" /></div></div>
        </div>
        <input type="text" name="selectedStudents" id="txtSelectedGroups" style="display:none" />
        <input type="text" name="fileName" id="filName" style="display:none" />


    }
    @if (ViewBag.assignmentExists != " " && ViewBag.assignmentExists != null)
    {
        <div class="alert alert-danger">

            @ViewBag.assignmentExists
        </div>
    }
    @if (ViewBag.OutOfPercentage != " " && ViewBag.OutOfPercentage != null)
    {
        <div class="alert alert-danger">

            @ViewBag.OutOfPercentage
        </div>
    }
    @if (ViewBag.tudayerror != " " && ViewBag.tudayerror != null)
    {
        <div class="alert alert-danger">

            @ViewBag.tudayerror
        </div>
    }
    @if (ViewBag.failedMessage != " " && ViewBag.failedMessage != null)
    {
        <div class="alert alert-danger">

            @ViewBag.failedMessage
        </div>
    }
    @if (ViewBag.incorrectFIleType != " " && ViewBag.incorrectFIleType != null)
    {
        <div class="alert alert-danger">

            @ViewBag.incorrectFIleType
        </div>
    }

</div>

    <script>
        $(document).ready(function () {

            $('#sulu').click(function () {
                var count = $("#groupsList1 option:selected").length;
                console.log(count)

                var values = "*";
                var selected = $("#groupsList1 option:selected");
                selected.each(function () {
                    values += $(this).html() + "-";

                });
                $('#txtSelectedGroups').val(values)
                console.log(values)




            });
            $('input[type="file"]').change(function (e) {
                var file = e.target.files[0].name;
                console.log(file);
                $('#filName').val(file);
            });
        });





    </script>
    <style>
        .row, .row > * {
            padding: 0;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    </style>