@model LCCS_School_Parent_Communication_System.viewModels.LateComerViewModel

<html>
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <h4 class="modal-title text-white" id="title">LateComer</h4>
                <button type="button" id="exit" class="close btn bg-red" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (ViewBag.message != null)
                {
                    @ViewBag.message
                }
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger" id="hide">
                        @ViewBag.error
                    </div>
                }

                @if (ViewBag.complete != null)
                {
                    <div class="alert alert-success" id="hide">
                        @ViewBag.complete
                    </div>
                }

                @if (ViewBag.posterror != null)
                {
                    <div class="alert alert-danger" id="hide">
                        @ViewBag.posterror
                    </div>
                }

                <div class="d-flex justify-content-center ">
                    <div id="holder" class="d-none text-danger" role="status">

                    </div>
                </div>

                <form action="AddLateComer" id="error">

                    @Html.HiddenFor(h => h.ID)
                </form>
            </div>
            @if (ViewBag.message != null)
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" id="save" data-save="modal">Confirm</button>
                </div>
            }
        </div>
    </div>

</body>
</html>


<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        const element = document.getElementById("holder");
        const hidden = document.getElementById('hide');
        const save = document.getElementById('save');
        const exit = document.getElementById('exit');
        view.on('click', '[data-save="modal"]', function (event) {

            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                if (element != null) {
                    element.classList.remove("d-none");
                    element.classList.add("spinner-border");
                    save.classList.add("disabled");
                    exit.classList.add("disabled");
                }
                if (hidden != null) {
                    hidden.classList.add("d-none");
                }
            }
        });

        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>
