@model LCCS_School_Parent_Communication_System.viewModels.classifyGroupViewModel
@{
    ViewBag.Title = "classifyGroup";

}

<!-- JS & CSS library of MultiSelect plugin -->
<script src="https://phpcoder.tech/multiselect/js/jquery.multiselect.js"></script>
<link rel="stylesheet" href="https://phpcoder.tech/multiselect/css/jquery.multiselect.css">



<script>
    $(document).ready(function () {
        $('#tblGroupStructureList').DataTable({"scrollX": true});
        $('body').find('.dataTables_scrollBody').addClass("scrollbar");
    });
</script>

<style>

    .header {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
</style>
   
<div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
    <div class="row bg-red header">
        <span class="p-3 title text-white col-md-10">Classify Group</span>
    </div>


    @using (Html.BeginForm("classifyGroup", "THome", FormMethod.Post, new { id = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.groupStructureID);

        <div class="mt-4">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.minMembers, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">@Html.EditorFor(a => a.minMembers, new { htmlAttributes = new { @readonly = true, @class = "form-control p-1" } })</div>
            </div>
        </div>

        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.minMembers, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">@Html.EditorFor(a => a.maxMembers, new { htmlAttributes = new { @readonly = true, @class = "form-control p-1" } })</div>
            </div>
        </div>

        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.studentList, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">
                    <select multiple id="cg" class="selectpicker form-control" data-live-search="true">
                        @foreach (var k in Model.studentList)
                        {
                            <option value=@k.studentId>@k.fullName</option>

                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="row col-12 ps-sm-2 ps-md-5">
                @Html.LabelFor(a => a.groupName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="row col-sm-9 col-md-8 ps-sm-2 ps-md-5">
                <div class="row">@Html.EditorFor(a => a.groupName, new { htmlAttributes = new { @class = "form-control p-1" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.groupName, null, new { @class = "text-danger" })</div>

            </div>
        </div>

        
        <div class="row mt-4 mb-2 ps-sm-2 ps-md-5">
            <div class=" col-sm-3 col-md-3">
                <div class="row py-2">
                    <button id="sulu" type="submit" name="add" value="Submit" class="btn btn-outline-primary py-1 w-50">
                        <span id="spin" class=" spinner-border-sm" role="status" aria-hidden="true"></span>
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <input type="text" id="txtValue" name="txtValue" style="display:none" />
        if (ViewBag.enableMultiGroup == true)
        {
<div class="container mt-4 mb-2 ps-sm-2 ps-md-5 d-flex align-content-between rounded-pill finish w-50">
    
    <button id="btnSubmitGrouping1" type="submit" name="btnSubmitGrouping" value="Submit Grouping" class="btn btn-outline-secondary py-1 w-auto" formnovalidate>
        <span id="spin1" class=" spinner-border-sm" role="status" aria-hidden="true"></span>
        Finish Grouping
    </button>
</div>
        }
        
    }
    @if (ViewBag.successMessage != null)
    {
        <div id="alert" class="alert alert-success">
            @ViewBag.successMessage
        </div>
    }
    @if (ViewBag.ErrorExists != null)
    {
        <div id="alert" class="alert alert-danger">

            @ViewBag.ErrorExists
        </div>
    }
    @if (ViewBag.ErrorMembers != null)
    {
        <div id="alert" class="alert alert-danger">

            @ViewBag.ErrorMembers
        </div>
    }
    @if (ViewBag.ErrorExists2 != null)
    {
        <div id="alert" class="alert alert-danger">

            @ViewBag.ErrorExists2
        </div>
    }
    <div class="bg-danger invDan" style="display:none">
        Please select within the range of values.
    </div>
</div>



<div class="container mt-5 bg-white border-top border-bottom border-4 border-white rounded-3">
    <div class="row title-button">
        <span class="p-3 title col-md-10">Groups</span>
    </div>
    <div class="container mb-3 mt-3">
        <table class="table table-striped table-bordered" id="tblGroupStructureList">
            <thead>
                <tr>

                    <th scope="col">Group Structure Name</th>
                    <th scope="col">Group Name</th>
                    @for (int x = 1; x <= Model.maxMembers; x++)
                    {
                        <th scope="col">Member @x</th>
                    }
                    <th scope="col">Minimum Members</th>
                    <th scope="col">Maximum Members</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            @foreach (var k in Model.groupList)
            {
                <tbody>
                    <tr>

                        <td>@k.groupStructure.groupStructureName</td>
                        <td>@k.groupName</td>
                        @for (int x = 0; x < Model.maxMembers; x++)
                        {
                            foreach (var j in Model.groupMembers)
                            {
                                if (j.groupId == k.groupId)
                                {
                                    <td>@j.student.fullName</td>
                                    x++;

                                }

                            }
                            while (x < Model.maxMembers)
                            {
                                <td>-</td>
                                x++;
                            }
                        }
                        <td>@k.groupStructure.minNumberOfMembers</td>
                        <td>@k.groupStructure.maxNumberOfMembers</td>
                        <td class="text-center">
                            @using (Html.BeginForm("classifyGroup", "THome", new { grID = k.groupId.ToString(), skr = k.groupName }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(a => a.groupStructureID)
                                <button type="submit" value="Delete" name="delete" class="btn btn-delete rounded-circle border-1 border-danger d-inline"><i class="fas fa-trash-alt fa-lg text-danger"></i></button>

                            }

                        </td>
                    </tr>
                </tbody>

            }

        </table>
    </div>



</div>

    <script>
    $(document).ready(function () {

        $('#sulu').click(function () {
            var count = $("#cg option:selected").length;
            console.log(count)

                var values = "*";
                var selected = $("#cg option:selected");
                selected.each(function () {
                    values += $(this).html() + "-";

                });
                $('#txtValue').val(values)
            console.log(values)
            if ($('#cg').children().length == 0) {
                $("#btnSubmitGrouping1").show();
            }
            else {
                $("#btnSubmitGrouping1").hide();
            }



        });

        var spin = document.getElementById("spin");
        var spin = document.getElementById("spin1");
        var message = document.getElementById("alert");
        
        $('#sulu').click(function () {
            if (ValidationForm()) {
                spin.classList.add("spinner-border");
                message.classList.add("d-none");
            }
            else {
                message.classList.add("d-none");
            }
           
        });

        $('#btnSubmitGrouping1').click(function () {
            if (ValidationForm()) {
                spin1.classList.add("spinner-border");
                message.classList.add("d-none");
            }
            else {
                message.classList.add("d-none");
            }
           
        });
        

        function ValidationForm() {
            if ($("#form").valid()) {
                return true;
            }
            else {

                return false;
               
            }
        }

            });



    </script>

    <style>
        .row, .row > * {
            padding: 0;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .finish{

        }
    </style>