@model LCCS_School_Parent_Communication_System.viewModels.updateAssignmentViewModel
@{
    ViewBag.Title = "updateAssignment";
}


<style>
    .container {
        width: 65%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            minDate: new Date(),


        });
        $('input[type="file"]').change(function (e) {
            var file = e.target.files[0].name;
            console.log(file);
            $('#filName').val(file);
        });
    });


</script>

   
<div class="container mb-3 mt-3 bg-light border-top border-bottom-0 border-4 rounded-3 ">
    <h1 class="border-bottom border-5 p-3 mb-4">Update Assignment</h1>
    @using (Html.BeginForm("updateAssignment", "THome", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(a => a.assignmentID)
        <div class="row mt-3">
            <div class="col-lg-4">
                @Html.LabelFor(a => a.assignmentName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.EditorFor(a => a.assignmentName, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.assignmentName, null, new { @class = "text-danger" })</div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.markPercentage)
            </div>
            <div class="col-lg-8 ">
                <div class="row">
                    @Html.EditorFor(a => a.markPercentage, new { htmlAttributes = new { @min = 1, @max = 100, @class = "form-control" } })
                    <div class="row">@Html.ValidationMessageFor(a => a.markPercentage, null, new { @class = "text-danger" })</div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.submissionDate)
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.EditorFor(a => a.submissionDate, new { htmlAttributes = new { @class = "datepicker form-control" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.submissionDate, null, new { @class = "text-danger" })</div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.assignmentDocument)
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12"> <div class="row py-2"><input type="submit" name="update" value="UPDATE" class="btn btn-primary" /></div></div>
        </div>
        <input type="text" name="fileName" id="filName" style="display:none" />


    }

    @if (ViewBag.OutOfPercentage != " " && ViewBag.OutOfPercentage != null)
    {
        <div class="alert alert-danger">

            @ViewBag.OutOfPercentage
        </div>
    }
    @if (ViewBag.tudayerror != " " && ViewBag.tudayerror != null)
    {
        <div class="alert alert-danger">

            @ViewBag.tudayerror
        </div>
    }
    @if (ViewBag.AlreadyExists != " " && ViewBag.AlreadyExists != null)
    {
        <div class="alert alert-danger">

            @ViewBag.AlreadyExists
        </div>
    }
    @if (ViewBag.incorrectFIleType != " " && ViewBag.incorrectFIleType != null)
    {
        <div class="alert alert-danger">

            @ViewBag.incorrectFIleType
        </div>
    }


</div>
