@model LCCS_School_Parent_Communication_System.viewModels.UpdateResultViewModel
@{

}



<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        $('[data-toggle="modal"]').click(function () {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        $('[data-toggle="modalsession"]').click(function () {
            var url = $(this).data('url')+'?id='+$(this).data('id');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        view.on('click', '[data-save="modal"]', function (event) {

            var form = $(this).parents('.modal').find('form');
            var actionUrl = "/Teacher/THome/ResultUpdate";
            var sendData = form.serialize();
            $.validator.unobtrusive.parse("#error");
            ValidationForm();
            if (ValidationForm()) {
                $.post(actionUrl, sendData).done(function (data) {
                    //view.modal('hide');
                    view.html(data);
                    view.modal({ backdrop: 'static', keyboard: false })
                    view.modal('show');
                });
            }

        });

        view.on('click', '[data-dismiss="modal"]', function (event) {
            view.modal('hide');
        });

        view.on('hide.bs.modal', function () {
            location.reload();
        });
        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
                return true;
            }
        }
    });

</script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="container bg-light border-top border-bottom border-4 rounded-3">
    <h1 class="border-bottom border-5 p-3 mb-4">Students</h1>
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr>
                <th scope="col">Assesement Date</th>
                <th scope="col">Student Name</th>
                <th scope="col">Result For</th>
                <th scope="col">Result</th>
                <th scope="col">Feedback</th>
                <th scope="col" class="text-center">@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSectionModal" data-url="@Url.Action("RegisterStudent")"><i class="fas fa-plus fa-lg"></i></button>*@</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.results)
            {
            <tr>
                @if (list.scheduleId != null)
                {
                    <td>@list.schedule.scheduleDate.ToShortDateString()</td>
                }
                else
                {
                    <td>@list.assignment.submissionDate.ToShortDateString()</td>
                }

                <td>@list.student.fullName</td>
                <td>@list.resultFor</td>
                <td>@list.result/@list.percent</td>
                <td>@list.feedback</td>

                <td class="text-center">

                    <button type="button" class="btn btn-info" data-toggle="modalsession" data-target="#updateSectionModal" data-url="@Url.Action("ResultUpdate")" data-id="@list.resultId"><i class="fas fa-edit fa-lg text-white"></i></button>

                </td>
            </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>

    </table>
</div>

<div class="modal" id="myModal" role="dialog" data-backdrop="static" tabindex="-1" data-url="@Url.Action("Register")"></div>

<style>
    .row {
        padding: 0 !important;
    }
</style>
