@model LCCS_School_Parent_Communication_System.viewModels.UpdateTeacherModal

<html>
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <h4 class="modal-title text-white" id="title">Update Teacher</h4>
                <button type="button" class="close btn bg-red" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (ViewBag.complete != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.complete
                    </div>
                }
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.error
                    </div>
                }
                @if (ViewBag.geterror != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.geterror
                    </div>
                }
                else
                {
                    <form action="EditTeacher" id="error" autocomplete="off">

                        @Html.HiddenFor(h => h.Id)
                        <div class="form-group">
                            @Html.LabelFor(l => l.fullName, new { @class = "form-label mt-2" })
                            <div class="container row">@Html.EditorFor(e => e.fullName, new { @class = "form-control" })</div>
                            <div class="container row">@Html.ValidationMessageFor(v => v.fullName, null, new { @class = "text-danger" })</div>
                        </div>
                        <div class="form-group">
                            <div class="container row">
                                <div class="col-4">
                                    @Html.LabelFor(l => l.grade, new { @class = "form-label mt-2" })
                                    <div class="container row">@Html.EditorFor(e => e.grade, new { @class = "form-control" })</div>
                                    <div class="container row">@Html.ValidationMessageFor(v => v.grade, "", new { @class = "text-danger" })</div>
                                </div>
                                <div class="col-1">

                                </div>
                                <div class="col-7">
                                    @Html.LabelFor(l => l.subject, new { @class = "form-label mt-2" })
                                    <div class="container row">@Html.EditorFor(e => e.subject, new { @class = "form-control" })</div>
                                    <div class="container row">@Html.ValidationMessageFor(v => v.subject, "", new { @class = "text-danger" })</div>
                                </div>
                            </div>
                        </div>

                    </form>
                }

            </div>
            @if (ViewBag.geterror == null)
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="save" data-save="modal">Update</button>
                </div>
            }   
        </div>
    </div>

</body>
</html>
<style>
    .row, .row > * {
        padding: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>

