@model LCCS_School_Parent_Communication_System.viewModels.SectionViewModel

<html>
<body>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <h4 class="modal-title text-white" id="title">Update Section</h4>
                <button type="button" class="close btn bg-red" data-dismiss="modal">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (ViewBag.complete != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.complete
                    </div>
                }
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.error
                    </div>
                }

                <form action="EditSection" id="error" autocomplete="off">
                    @Html.HiddenFor(h=>h.ID);
                    <div class="form-group">
                        <select id="teachers" name="teachers" class="form-control">
                            @foreach (var i in Model.teachers)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save" data-save="modal">Update</button>
            </div>
        </div>
    </div>

</body>
</html>
<style>
    .row, .row > * {
        padding: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
</style>

