
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Registrar Management", "manageRegistrar", "ADHome");

@Html.ActionLink("Teacher Management", "RegisterTeacher", "ADHome");
@Html.ActionLink("Section Management", "SectionManagement", "ADHome");


@Html.ActionLink("Academic Year Management", "manageAcademicYear", "ADHome");

@Html.ActionLink("Unit Leader Designation", "unitLeaderManagement", "ADHome");

@Html.ActionLink("Parent Management", "parentManagement", "ADHome");

