@model LCCS_School_Parent_Communication_System.viewModels.RegistrarManagementViewModel
@{
    ViewBag.Title = "manageRegistrar";
}

<h2>Manage Registrar</h2>
@using (Html.BeginForm("manageRegistrar", "ADHome", new { area = "Academic_Director" }, FormMethod.Post))
{
    @Html.ValidationSummary(true);
    @Html.LabelFor(a => a.fullName);
    @Html.TextBoxFor(a => a.fullName);
    @Html.ValidationMessageFor(a => a.fullName);
    @Html.LabelFor(a => a.email);
    @Html.TextBoxFor(a => a.email);
    @Html.ValidationMessageFor(a => a.email);


<input type="submit" value="Register" name="register" />
}
@*@if ((Model.registrarList != null) && (!Model.registrarList.Any())) {*@
<table>
    <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
    </tr>

    @foreach (var usr in Model.registrarList)
    {
<tr>
    <td>@usr.UserName</td>
    <td>@usr.fullName</td>
    <td>@usr.Email</td>
    <td>
        @using (Html.BeginForm("manageRegistrar", "ADHome", new { theID = usr.Id }, FormMethod.Post))
        {
            <input type="submit" value="Delete" name="delete"/>

        }
    </td>
</tr>
           }



    </table>


@*}*@

