@model LCCS_School_Parent_Communication_System.viewModels.RegisterTeacherViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterTeacher</title>
</head>
<body>

    @using (Html.BeginForm("RegisterTeacher", "ADHome", FormMethod.Post))
    {
        @Html.LabelFor(lbl => lbl.email)
        @Html.TextBoxFor(tb => tb.email, new { placeholder = "example@gmail.com", @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.email)
        <br />
        @Html.LabelFor(lbl => lbl.fullName)
        @Html.TextBoxFor(tb => tb.fullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.fullName)
        <br />
        @Html.LabelFor(lbl => lbl.grade)
        @Html.TextBoxFor(tb => tb.grade, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.grade)
        <br />
        @Html.LabelFor(lbl => lbl.subject)
        @Html.TextBoxFor(tb => tb.subject, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.subject)
        <br />
        @Html.ValidationSummary(false,"please fix the errors to procced to the next step")
        <br />
        <hr />
        <input type="submit" name="register" value="Register" />
        <input type="submit" name="search" value="Search" />
        <input type="submit" name="update" value="Update" />
    }


    @if (ViewBag.search == true)
    {
        <table>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Grade</th>
                <th>Subject</th>
                <th></th>
            </tr>
            @foreach (var list in Model.teacherList)
            {
                <tr>
                    <td>@list.user.fullName</td>
                    <td>@list.user.Email</td>
                    <td>@list.grade</td>
                    <td>@list.subject</td>
                    <td>
                        @using (Html.BeginForm("RegisterTeacher", "ADHome", new { id = @list.teacherId }, FormMethod.Post))
                        {
                            <input type="submit" value="Edit" name="edit" />
                            <input type="submit" value="Delete" name="delete" />
                        }

                    </td>
                </tr>
            }
        </table>
    }
</body>
</html>
