@model LCCS_School_Parent_Communication_System.viewModels.SectionViewModel
@{

}

<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        var view = $('#myModal');
        $('[data-toggle="modal"]').click(function () {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        $('[data-toggle="modalsession"]').click(function () {
            var url = $(this).data('url')+'?id='+$(this).data('id');
            $.get(url).done(function (data) {
                view.html(data);
                view.modal({ backdrop: 'static', keyboard: false })
                view.modal('show');
            });
        });

        view.on('click', '[data-save="modal"]', function (event) {

            
           var form = $(this).parents('.modal').find('form');
           var actionUrl = form.attr('action');
            var sendData = form.serialize();
            
           $.validator.unobtrusive.parse("#error");
           ValidationForm();
           if (ValidationForm()) {
                $.post(actionUrl, sendData).done(function (data) {
                    //view.modal('hide');
                    view.html(data);
                    view.modal({ backdrop: 'static', keyboard: false })
                    view.modal('show');
                });

            }     
            
        });

        view.on('click', '[data-dismiss="modal"]', function (event) {
            view.modal('hide');
        });

        view.on('hide.bs.modal', function () {
            location.reload();
        });
        function ValidationForm() {
            if (!$("#error").valid()) {
                return false;
            }
            else {
               
                return true;
               
            }
        }
    });

</script>

<div class="container">
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr>
                <th scope="col">Academic Year</th>
                <th scope="col">Section</th>
                <th scope="col">HomeRoom Name</th>
                <th scope="col" class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSectionModal" data-url="@Url.Action("AddSection")" ><i class="fas fa-plus fa-lg"></i></button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in Model.sections)
            {
                <tr>
                    <td>@list.academicYearId</td>
                    <td>@list.sectionName</td>
                    <td>@list.teacher.user.fullName</td>
                    <td class="text-center">

                        <button type="button" class="btn btn-info" data-toggle="modalsession" data-target="#updateSectionModal" data-url="@Url.Action("EditSection")" data-id="@list.sectionId"><i class="fas fa-edit fa-lg text-white"></i></button>
                        <button type="button" class="btn btn-danger" data-toggle="modalsession" data-target="#deleteSectionModal" data-url="@Url.Action("DeleteSection")" data-id="@list.sectionId"><i class="fas fa-trash-alt fa-lg"></i></button>

                    </td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>

    </table>
</div>

<div class="modal" id="myModal" role="dialog" data-backdrop="static" tabindex="-1" data-url="@Url.Action("Register")"></div>

<style>
    .row {
        padding: 0 !important;
    }
</style>


@*@using (Html.BeginForm("SectionManagement", "ADHome", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-2 form-group">
                @Html.LabelFor(lbl => lbl.grade)
            </div>
            <div class="col-lg-8 form-group">

                @Html.EditorFor(tb => tb.grade, new { htmlAttributes = new { @class = "form-control " }, type = "number", min = "9", max = "12", step = "1", @readonly = ViewBag.read })

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group">
                @Html.LabelFor(lbl => lbl.letter)
            </div>
            <div class="col-lg-8 form-group">
                @Html.DropDownListFor(tb => tb.letter, new SelectList(Model.letter), htmlAttributes: new { @readonly = ViewBag.read, @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group">
                @Html.LabelFor(lbl => lbl.teachers)
            </div>
            <div class="col-lg-8 form-group">
                @if (ViewBag.search)
                {
                    <select id="teachers" name="teachers" class="form-control">
                        @foreach (var i in Model.teachers)
                        {
                            <option value=@i>@i</option>
                        }
                    </select>
                }
                else
                {
                    @Html.DropDownListFor(tb => tb.teachers, new SelectList(Model.teachers), "Select Teacher", new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group">
                @Html.LabelFor(lbl => lbl.academicYears)
            </div>
            <div class="col-lg-8 form-group">
                @if (ViewBag.search)
                {
                    <select id="academicYears" name="academicYears" readonly class="form-control">
                        @foreach (var i in Model.academicYears)
                        {
                            if (i == ViewBag.academicYear)
                            {
                                <option value=@i selected>@i</option>
                            }
                            else
                            {
                                <option value=@i>@i</option>
                            }
                        }
                    </select>
                }
                else
                {
                    @Html.DropDownListFor(tb => tb.academicYears, new SelectList(Model.academicYears), "Select Acadamic Year", new { @class = "form-control" })
                }
            </div>
        </div>
    </div>*@








    @*<div class="alert alert-danger" role="alert">
        @ViewBag.add
        @ViewBag.found
        @ViewBag.delete
        @Html.ValidationSummary()

    </div>
    <div class="text-center">
        <input type="submit" name="add" value="Add" class="btn btn-primary bg-green" />
        <input type="submit" name="search" value="Search" class="btn btn-primary " />
        <input type="submit" name="update" value="Update" class="btn btn-primary bg-green" @ViewBag.upHidden />
        <input type="submit" name="delete" value="Delete" class="btn btn-danger" />
    </div>*@


@*}*@
