@model LCCS_School_Parent_Communication_System.viewModels.SectionViewModel
@{
  
}


    @using (Html.BeginForm("SectionManagement", "ADHome", FormMethod.Post))
    {
<div class="container">
    <div class="row">
        <div class="col-lg-2 form-group">
            @Html.LabelFor(lbl => lbl.grade)
        </div>
        <div class="col-lg-8 form-group">
            
                @Html.EditorFor(tb => tb.grade, new { htmlAttributes = new { @class = "form-control " }, type = "number", min = "9", max = "12", step = "1", @readonly = ViewBag.read })
            
            </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            @Html.LabelFor(lbl => lbl.letter)
        </div>
        <div class="col-lg-8 form-group">
            @Html.DropDownListFor(tb => tb.letter, new SelectList(Model.letter), htmlAttributes: new { @readonly = ViewBag.read, @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            @Html.LabelFor(lbl => lbl.teachers)
        </div>
        <div class="col-lg-8 form-group">
            @if (ViewBag.search)
            {
                <select id="teachers" name="teachers" class="form-control">
                    @foreach (var i in Model.teachers)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
            }
            else
            {
                @Html.DropDownListFor(tb => tb.teachers, new SelectList(Model.teachers), "Select Teacher", new { @class = "form-control" })
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 form-group">
            @Html.LabelFor(lbl => lbl.academicYears)
        </div>
        <div class="col-lg-8 form-group">
            @if (ViewBag.search)
            {
                <select id="academicYears" name="academicYears" readonly class="form-control">
                    @foreach (var i in Model.academicYears)
                    {
                        if (i == ViewBag.academicYear)
                        {
                            <option value=@i selected>@i</option>
                        }
                        else
                        {
                            <option value=@i>@i</option>
                        }
                    }
                </select>
            }
            else
            {
                @Html.DropDownListFor(tb => tb.academicYears, new SelectList(Model.academicYears), "Select Acadamic Year", new { @class = "form-control" })
            }
        </div>
    </div>
</div>    
   



            



            <div class="alert alert-danger" role="alert">
                @ViewBag.add
                @ViewBag.found
                @ViewBag.delete
                @Html.ValidationSummary()

            </div>
            <div class="text-center">
                <input type="submit" name="add" value="Add" class="btn btn-primary bg-green" />
                <input type="submit" name="search" value="Search" class="btn btn-primary " />
                <input type="submit" name="update" value="Update" class="btn btn-primary bg-green" @ViewBag.upHidden />
                <input type="submit" name="delete" value="Delete" class="btn btn-danger" />
            </div>

        
    }
