@model LCCS_School_Parent_Communication_System.viewModels.SectionViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SectionManagement</title>
</head>
<body>
    @using (Html.BeginForm("SectionManagement", "ADHome", FormMethod.Post))
    {
        
            @Html.LabelFor(lbl => lbl.grade)
            @Html.EditorFor(tb => tb.grade, new { type = "number", min = "9", max = "12", step = "1", @class = "form-control" })
            @Html.ValidationMessageFor(vm => vm.grade)
            <br />
            @Html.LabelFor(lbl => lbl.letter)
            @Html.DropDownListFor(tb => tb.letter, new SelectList(Model.letter))
            @Html.ValidationMessageFor(vm => vm.letter)
            <br />
        if (ViewBag.search && ViewBag.found)
        {
            @Html.LabelFor(lbl => lbl.teachers)
            <select id="teachers" name="teachers">
                @foreach (var i in Model.teachers)
                {
                    <option value=@i>@i</option>
                }
            </select>
            @Html.ValidationMessageFor(vm => vm.teachers)
            <br />
            @Html.LabelFor(lbl => lbl.academicYears)
            <select id="academicYears" name="academicYears">
                @foreach (var i in Model.academicYears)
                {
                    if (i == ViewBag.academicYear)
                    {
                        <option value=@i selected>@i</option>
                    }
                    else
                    {
                        <option value=@i>@i</option>
                    }
                }
            </select>
        }
        else
        {
            @Html.LabelFor(lbl => lbl.teachers)
                @Html.DropDownListFor(tb => tb.teachers, new SelectList(Model.teachers), "Select Teacher")
                @Html.ValidationMessageFor(vm => vm.teachers)
                < br />
                @Html.LabelFor(lbl => lbl.academicYears)
                @Html.DropDownListFor(tb => tb.academicYears, new SelectList(Model.academicYears), "Select Acadamic Year")
                @Html.ValidationMessageFor(vm => vm.academicYears)
        }


                <br />
                <hr />
                @Html.ValidationSummary(true, "please fix the errors to procced to the next step")

                <hr />
                <input type="submit" name="add" value="Add" />
                <input type="submit" name="search" value="Search" />
                <input type="submit" name="update" value="Update" />
                <input type="submit" name="delete" value="Delete" />
                }
        </body>
</html>
