@model LCCS_School_Parent_Communication_System.viewModels.RegisterTeacherViewModel
@{
    ViewBag.Title = "unitLeaderManagement";
}

<table class="table table-striped">
    <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Subject</th>
        <th scope="col">Grade</th>
    </tr>
    @foreach (var k in Model.retrevedTeacherList)
    {
        <tr>
            <td >@k.user.fullName</td>
            <td>@k.subject</td>
            <td>@k.grade</td>
            <td>
                @using (Html.BeginForm("unitLeaderManagement", "ADHome", new { teacherID = @k.teacherId }, FormMethod.Post))
                {
                    <input type="submit" value="Select" name="selectToAssign" class="btn btn-primary bg-green" />
                }
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("unitLeaderManagement", "ADHome", FormMethod.Post))
{
<div class="row  d-flex align-self-center">
    <div class="form-group col-xl-4 ">
        @Html.LabelFor(a => a.grade)
        @Html.EditorFor(a => a.grade, new { htmlAttributes = new { @min = 1, @max = 12, @class = "form-control" } })
    
    </div>
    <div class="form-group col-xl-4">
        @Html.LabelFor(a => a.fullName)
        @Html.EditorFor(a => a.fullName, new { htmlAttributes = new {@class="form-control"} })
    
    </div>
    <div class="form-group col-xl-4">
        @Html.LabelFor(a => a.subject)
        @Html.EditorFor(a => a.subject, new { htmlAttributes = new { @class = "form-control" } })
     
    </div>
    </div>
<div class="text-center">
    <input type="submit" value="Assign" name="assign" class="btn btn-primary bg-green"/>
    <input type="submit" value="Update" name="update" class="btn btn-primary"/>
</div>
   

    }
<div class="alert alert-danger" role="alert">
    @Html.ValidationSummary()
    @ViewBag.Message

</div>

    <h4>UnitLeaders List</h4>
    <table class="table table-striped">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Grade</th>
        </tr>
        @foreach (var k in Model.teacherList)
        {
            <tr>
                <td>@k.user.fullName</td>
                <td>@k.subject</td>
                <td>@k.grade</td>

            </tr>
        }

    </table>
