@model LCCS_School_Parent_Communication_System.viewModels.updateAnnouncementViewModel
@{
    ViewBag.Title = "updateAnnouncement";
}



<style>
    .container {
        width: 65%;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            minDate: new Date(),


        });
       
    });

</script>

    
<div class="container bg-light border-top border-bottom-0 border-4 rounded-3 mt-5">
    <h1 class="border-bottom border-5 p-3 mb-4">Update Announcement</h1>
    @using (Html.BeginForm("updateAnnouncement", "ADHome", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(ax => ax.announcementID);

        <div class="row mt-3">
            <div class="col-lg-4">
                @Html.LabelFor(a => a.announcementTitle, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.EditorFor(a => a.announcementTitle, new { htmlAttributes = new { @class = "form-control", @readonly = true } })</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                @Html.LabelFor(a => a.announcementContent, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.TextAreaFor(a => a.announcementContent, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.announcementContent, null, new { @class = "text-danger" })</div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.endDate)
            </div>
            <div class="col-lg-8">
                <div class="row"> @Html.EditorFor(a => a.endDate, new { htmlAttributes = new { @class = "datepicker form-control" } })</div>
                <div class="row">@Html.ValidationMessageFor(a => a.announcementContent, null, new { @class = "text-danger" })</div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                @Html.LabelFor(a => a.announcementDocument)
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <input type="file" name="file" class="form-control" id="theFile" />
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12"> <div class="row py-2"><input type="submit" name="update" value="UPDATE" class="btn btn-primary" id="sulu" /></div></div>
        </div>
       @* <input type="text" name="selectedStudents" id="txtSelectedGroups" style="display:none" />*@
        <input type="text" name="fileName" id="filName" style="display:none" />


    }
    @if (ViewBag.errorMessage != " " && ViewBag.errorMessage != null)
    {
        <div class="alert alert-danger">

            @ViewBag.errorMessage
        </div>
    }
    @if (ViewBag.incorrectFileFormat != " " && ViewBag.incorrectFileFormat != null)
    {
        <div class="alert alert-danger">

            @ViewBag.incorrectFileFormat
        </div>
    }

    @* @if (ViewBag.successfulMessage != " " && ViewBag.successfulMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.successfulMessage
                </div>
            }
              @if (ViewBag.existsMessage != " " && ViewBag.existsMessage != null)
        {
            <div class="alert alert-danger">

                @ViewBag.ViewBag.existsMessage
            </div>
        }
    *@

</div>
    <script>
        $(document).ready(function () {


            $('input[type="file"]').change(function (e) {
                var file = e.target.files[0].name;
                console.log(file);
                $('#filName').val(file);
            });
        });

    </script>
