@model LCCS_School_Parent_Communication_System.viewModels.WarningViewModel
@{

}




<table class="table table-striped">
    <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Section</th>
        <th scope="col"></th>
    </tr>

    @foreach (var item in Model.eligible)
    {
        <tr>
            <td>@item.fullName</td>
            <td>@item.sectionName</td>
            <td>
                @using (Html.BeginForm("WarningManagement", "ULHome", new { id = item.studentId.ToString() }, FormMethod.Post))
                {
                    <input type="submit" value="Send Warning" name="warning" class="btn btn-warning" />
                }
            </td>
        </tr>
    }

</table>
<div class="alert alert-danger" role="alert">
    @ViewBag.message
   </div>



    <table class="table table-striped">
        <tr>
            <th scope="col">Send Date</th>
            <th scope="col">Student Name</th>
            <th scope="col">Section</th>
            <th scope="col">Type</th>
            <th scope="col">Parent Name</th>
            <th scope="col">Phone Number</th>
        </tr>
        @{
            int i = 0;
            foreach (var item in Model.nonViewed)
            {
                <tr>
                    <td>@item.warningDate</td>
                    <td>@item.student.fullName</td>
                    <td>@item.student.sectionName</td>
                    <td>@item.warningType</td>
                    <td>@Model.parentName[i]</td>
                    <td>@Model.parentPhone[i]</td>
                </tr>
                i++;
            }
        }
    </table>

